.p1{
   font-family: serif;
   font-size: 12pt;
   background-color: pink;
   color: blue;
}

.p2{
   font-family: fantasy;
   font-size: 14pt;
   background-color: green;
   color: white;
}
