html, body{
 margin: 0%;
 padding: 5%;
 width: 100%;
 height: 100%;
 background-image: url(https://www.nasa.gov/sites/default/files/thumbnails/image/planets_in_solar_system_4k.jpg);
 background-repeat: no-repeat;
}


section{
 border: solid 1pt white;
 margin: 0%;
 padding: 0%;
 background: white;
}

p{
 font-weight: bold;
 color: darkgreen;
 background-color: white;
}

p1, p2{ 
   font-family: serif;
   font-size: 12pt;
   background-color: pink;
   foreground-color: blue;
}

p3{
   font-family: serif;
   font-size: 12pt;
   background-color: pink;
   foreground-color: blue;
}

p4{
   color: white; 
   font-family: fantasy;
   font-size: 14pt;
   background-color: darkblue;
   foreground-color: white;
}

p5{
   color: white;
   font-family: fantasy;
   font-size: 14pt;
   background-color: darkblue;
   foreground-color: white;
}

p6{
   color: white;
   font-family: fantasy;
   font-size: 14pt;
   background-color: darkblue;
   foreground-color: white;
}

.title{
color: white;
background-color: darkblue;
}

.nav{
color: gold;
background-color: lightblue;
}

ul{
color: darkblue;
background-color: lightblue;
}

#AcademicSkills{
color: gold;
background-color: deeppink;
}

#color{
color: silver;
background-color: deeppink;
}

#myHobbies{
font-weight: bold;
font-size: 18pt; 
}

figure{
border: solid 5pt;
border-top-color: gold;
border-right-color: silver;
border-bottom-color: gold;
border-left-color: silver;
}

a:link{  
  text-decoration: underline;
  color: gold;
}

a:visited{
  text-decoration: underline;
  color: white;
}

a:hover{
  text-decoration: underline;
  color: orange;
  font-weight; bold;
  background-color: deeppink;
}

