

figure{
  margin : 0;
}

nav{
  position: absolute;
  float: left;
  width: 15em;
  background-color:white;
  z-index:-1;
}

aside{
  position: absolute;
  right: 0em;
  top: 5;
  float: right;
  width: 15em;
  z-index:-1;
}

div#main{
  position: absolute;
  margin-left: 18em;
  margin-right: 18em;
  float: both;
  z-index:5;
}

header{
  background-color: orange;
}

ul{
  background-color: lightgrey;
}

div#block{
  background-color:lightgrey;
  padding:1em;
}


div#block1{
  background-color:lightgrey;
  padding:1em;
}


p{
 float:left;
}
