table{
  border: solid 1pt black;
}
td{
  border: solid 1pt black;
  padding: 8em;
}

th{
  background-color: white;
}

td{
  background-color: lightgreen;
}

caption{
  background-color: green;
  color: white;
}

p{
  background-color: lightgreen;
  color:black;
  border: solid 1pt green;  
}

legend{
  background-color: green;
  color:white;
}

caption{
  background-color: white;
}

form{
  background-color: lightgreen;
  margin: 100px;
}

button{
  background-color: green;
  color: white;
  border-radius: 1em;
}