table{
  border: solid 1pt black;
  border-radius: 10px;
}

td{
  border: solid 1pt black;
}

caption{
  background-color:darkred;
  color: white;
}

th{
  background-color: lightgrey;
}

img{
   border-radius: 20px;
}
